div Data Upload
  div(class="form-group" style="width: 20%; margin: 0px auto;")
    div(id="fileForm")
      label(for="passwordInput") File to Upload
      input(type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp")
      small(id="fileHelp" class="form-text text-muted") GEDCOM files are supported
    div(id="submitButton")
      button(type="submit", class="btn btn-priary") Submit
