// primary color

$color-primary: #e81c4f;

// secondary colors

$color-pre: #69c;
$color-selector: #ec5f67;
$color-keyword: #ab7967;
$color-unit: #fac863;
$color-attribute: #5fb3b3;
$color-number: #f99157;
$color-string: #c594c5;

// brand colors

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-github: #333;
