doctype html

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		link(rel='stylesheet' type='text/css' href='/styles/style.min.css')

	title Genie | Genealogy Done Right

	body(style='margin: 0' ng-app='genie')
		include navbar
		block content
		include footer
