div
  h1 Attribute Edit Screen
  div(id="individualTable" class="col-lg-6")
    p Scroll list of people
    table(class="table table-striped")
      thead
        tr
          th Given Name
          th Surname
          th Hobby
          th Profession
      tbody(id="individualMenu")

  div(id="editPane" class="col-lg-6")
    p(id="nameDisplay") Name
    p(id="notesDisplay") Notes
    div(class="form-group col-lg-6")
      label(for="professionSelect") Select a Profession
      select(id="professionSelect" class="form-control" ng-options="item.value as item.name for item in professionSelect.availableOptions" 
      ng-model="selectedProf")
      label(for="newProf") Or Enter a new Profession
      input(id="newProf" type="text" ng-model="newProf" class="form-control")
    div(class="form-group col-lg-6")
      label(for="hobbySelect") Select a Hobby
      select(class="form-control" ng-options="item.value as item.name for item in hobbySelect.availableOptions" ng-model="selectedHobby")
      label(for="newHobby") Or Enter a new Hobby
      input(id="newHobby" type="text" ng-model="newHobby" class="form-control")
    button(id="submitButton" class="btn btn-info") Submit
