div
  h1 Attribute Edit Screen
  div(id="individualTable" class="col-lg-6")
    p Scroll list of people
    table(class="table table-striped")
      thead
        tr
          th Given Name
          th Surname
          th Hobby
          th Profession
      tbody(id="individualMenu")

  div(class="col-lg-6")
    p Name
    p Notes
    p Attribute List
