body {
	text-align: center;
}

svg {
	margin-top: 32px;
	border: 1px solid #aaa;
}

rect {
	fill: #1e90ff;
	fill-opacity: 0.5;
	stroke: steelblue;
	stroke-width: 1px;
	border-radius: 10px;
}

rect.selected {
	fill: #ffffff;
}

text {
	font: 14px sans-serif;
	font-family: Roboto;
}

.name text {
	color: steelblue;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}
