

.style2	{

	$color0: #dfdce3;	//Background
	$color1: #111111;	//Normal Lines
		//Spousal Lines
	$color3: #4abdac; // Unselected Rectangles
	$color4: #fc4a1a;	//Selected Rectangles

		rect {
		fill: $color3;
		fill-opacity: 1;
		rx: 2px;
		ry: 2px
	}

	rect.bg {
		fill: $color0;
	}

	g.connections path {
		stroke-dasharray: 5,5;
		stroke-width: 2;
		stroke: #5f5c5c;
		fill: transparent;
	}

	g.links line {
		stroke: $color1;
		stroke-width: 2;
	}

	.selected-hobby-enabled rect {
		fill: $color4;
	}

	.selected-profession-enabled rect {
		fill: $color4;
	}


	defs marker {
		fill: #aaaaaa;
	}

	rect.selected {
		stroke-width: 2px;
	}

	text {
		font: 14px sans-serif;
		font-family: Roboto;
	}

	.name text {
		color: steelblue;
	}

	.link {
		fill: none;
		stroke: #ccc;
		stroke-width: 1.5px;
	}

	line.spousal {
		fill: none;
		stroke: #ccc;
		stroke-width: 3px;
	}
}
