nav(ng-controller="NavCtrl" style="display: flex; background: #333; height: 70px; width: 100%; align-items: center; justify-content: flex-start;")
	div(class="navbar-brand" ng-click="go('layout.home')") Genie
	div(class="navbar-collapse collapse")
		div(class="navbar-nav")
			a(class="nav-item nav-link" href="#" ng-click="go('layout.auth')") Login
			a(class="nav-item nav-link" href="#" ng-click="go('layout.attribute')") Attributes
			a(class="nav-item nav-link" href="#" ng-click="go('layout.branch')") River View
			a(class="nav-item nav-link" href="#" ng-click="go('layout.map')") Map View
			a(class="nav-item nav-link" href="#" ng-click="go('layout.detail')") Detail View
