div(ng-controller="NavCtrl" style="display: flex; background: grey; height: 70px; width: 100%; align-items: center; justify-content: flex-start;")
	div(style="flex: 0 0 auto; display: flex; align-items: center; font-size: 2em; color: white; padding-left: 15px;")
		a.brand(href="/") Genie
		div(style="font-size: .5em; color: white; padding-left: 10px;") | Genealogy Reimagined
	div(style="flex: 0 0 auto;")
		div(ng-click="go('layout.auth')") | Login
