div
	div
		img(style = "align-items: center; margin: 20px" src="media/genie-logo.png")
		h3 Genealogy Done Right
	div(style="display: flex; align-items: center; color: black; align-items: center;")
		img(style = "align-items: center; margin: 0 0 0 auto; border:5px solid black;" src="media/tree_icon.png" ng-click="go('layout.detail')" width="300vh")
		img(style = "align-items: center; margin: 0 10px 0 10px; border:5px solid black;" src="media/river_icon.png" ng-click="go('layout.river')" width="300vh")
		img(style = "align-items: center; margin: 0 auto 0 0; border:5px solid black;" src="media/map_icon.png" ng-click="go('layout.map')" width="300vh")
